@use '../settings/variables' as *;

.c-header {
  display: flex;
  justify-content: space-between; // Logo a la izq, usuario a la der
  align-items: center;
  padding: $spacing-unit;
  background-color: $color-primary;
  color: $color-text-black;
  height: 50px; // Altura fija para calcular luego el hero
  position: fixed; // Para que se quede fijo arriba (opcional)
  top: 0;
  width: 100%;
  z-index: 1000; // Por encima de todo

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

    // Si usas un icono SVG o imagen
    img { height: 30px; }
  }

  &__user-btn {
    background: transparent;
    border: 1px solid $color-text-black;
    color: $color-text-black;
    padding: 0.5rem 1rem;
     border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    // Si usas un icono SVG o imagen
    img { height: 30px; }
  }
}
