@use 'src/styles/settings/variables' as *;
@use 'src/styles/01-tools/mixins' as *;

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-8;

  &:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: block;
    margin-bottom: $spacing-2;
    font-weight: $font-weight-medium;
    color: $color-text-black;
    font-size: $font-size-base;
  }

  &__required {
    color: $color-error;
    margin-left: $spacing-1;
    font-weight: $font-weight-bold;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    &--password {
      .form-input__input {
        padding-right: $spacing-12;
      }
    }
  }

  &__input {
    width: 100%;
    padding: $spacing-3 $spacing-4;
    border: $border-thin solid $color-gray-300;
    border-radius: $radius-md;
    font-size: $font-size-base;
    font-family: $font-primary;
    color: $color-text-black;
    background-color: $color-text-white;
    @include transition(border-color, box-shadow);

    &::placeholder {
      color: $color-gray-400;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
      box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
    }

    &:disabled {
      background-color: $color-gray-100;
      color: $color-gray-500;
      cursor: not-allowed;
      opacity: 0.6;
    }

    &--error {
      border-color: $color-error;

      &:focus {
        box-shadow: 0 0 0 3px rgba($color-error, 0.1);
      }
    }

    &--has-toggle {
      padding-right: $spacing-12;
    }
  }

  &__toggle {
    position: absolute;
    right: $spacing-3;
    background: none;
    border: none;
    color: $color-gray-500;
    cursor: pointer;
    font-size: $font-size-lg;
    padding: $spacing-2;
    @include transition(color);

    &:hover {
      color: $color-primary;
    }

    &:focus {
      outline: none;
      color: $color-primary;
    }
  }

  &__error {
    display: block;
    margin-top: $spacing-1;
    color: $color-error;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
  }

  &__help {
    display: block;
    margin-top: $spacing-1;
    color: $color-gray-500;
    font-size: $font-size-sm;
    font-style: italic;
  }
}

