/* src/styles/main.scss */

// 1. Configuración (Variables globales)
@use 'settings/variables';

// 2. Base y Resets (Para limpiar el navegador)
@use 'generic/reset';
// @use 'objects/layouts'; // Descomenta si ya creaste algo aquí

// 3. Componentes Globales (Aquí cargamos tu Header)
@use 'components/header';
// @use 'components/footer'; // Descomenta cuando tengas footer