<p class="centrar">Añadir nota</p>

<section class="section-input-notas">
    <input class="section-input-notas__input" type="text" placeholder="Escribe tu nota">
    <button class="section-input-notas__button">Añadir</button>
</section>

<section class="grid">
    <article class="grid__item">Comprar destornillador, tornillos pequeños y una lija</article>
    <article class="grid__item">Arreglar la persiana, cambiandole la correa</article>
    <article class="grid__item">Revisar en busca de alguna solucion al sonido que hace la lavadora</article>
</section>
