<section class="p-home-hero">
    <div class="p-home-hero__overlay"></div>

    <div class="p-home-hero__text-container">
        <p class="p-home-hero__title-line-1">Repara. Colabora.</p>
        <p class="p-home-hero__title-line-2">Aprende.</p>
        <p class="p-home-hero__subtitle">Arreglémoslo juntos.</p>
    </div>

    <div class="p-home-hero__search-box">
        <input
          type="text"
          placeholder="Busca el electrodoméstico o aparato a reparar..."
          [(ngModel)]="searchQuery"
          (keypress)="onSearchKeyPress($event)"
        >
        <button (click)="onSearch()">
            <img src="assets/icons/buscar.png" alt="Buscar">
        </button>
    </div>
</section>
