

@use '../settings/variables' as *;
@use '../01-tools/mixins' as *;


p {
  margin-bottom: $spacing-4;
  line-height: $line-height-normal;

  &:last-child {
    margin-bottom: 0;
  }
}

small {
  font-size: $font-size-sm;
  color: $color-gray-600;
}

strong {
  font-weight: $font-weight-bold;
  color: inherit;
}

em {
  font-style: italic;
  color: inherit;
}

mark {
  background-color: #ffeb3b;
  color: $color-text-black;
  padding: 0.2em 0.4em;
  border-radius: $radius-sm;
}

del {
  text-decoration: line-through;
  color: $color-gray-500;
}

ins {
  text-decoration: underline;
  text-decoration-color: $color-success;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-4;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  color: $color-text-black;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: $font-size-5xl;
  margin-bottom: $spacing-6;
}

h2 {
  font-size: $font-size-4xl;
  margin-bottom: $spacing-6;
  padding-bottom: $spacing-2;
  border-bottom: $border-thin solid $color-gray-200;
}

h3 {
  font-size: $font-size-3xl;
}

h4 {
  font-size: $font-size-2xl;
}

h5 {
  font-size: $font-size-xl;
}

h6 {
  font-size: $font-size-lg;
}


ul,
ol {
  margin-bottom: $spacing-4;
  padding-left: $spacing-6;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
    margin-top: $spacing-2;
    margin-bottom: 0;
  }
}

ol {
  list-style-type: decimal;

  ol {
    list-style-type: lower-alpha;
    margin-top: $spacing-2;
    margin-bottom: 0;
  }
}

li {
  margin-bottom: $spacing-2;
  line-height: $line-height-normal;

  &:last-child {
    margin-bottom: 0;
  }
}

dl {
  margin-bottom: $spacing-4;
}

dt {
  font-weight: $font-weight-bold;
  margin-top: $spacing-3;
  margin-bottom: $spacing-1;
}

dd {
  margin-left: $spacing-4;
  margin-bottom: $spacing-2;
}


a {
  color: $color-primary;
  text-decoration: none;
  @include transition(color);

  &:hover,
  &:focus {
    color: $color-primary-hover;
    text-decoration: underline;
    outline: none;
  }

  &:active {
    color: $color-primary-hover;
  }
}


blockquote {
  border-left: $border-thick solid $color-primary;
  margin: $spacing-6 0;
  padding: $spacing-4 $spacing-6;
  background-color: $color-gray-50;
  font-style: italic;
  color: $color-gray-700;
  line-height: $line-height-relaxed;

  p {
    margin-bottom: $spacing-2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

cite {
  font-style: italic;
  color: $color-gray-600;
}


code {
  background-color: $color-gray-100;
  color: #d63384;
  padding: 0.2em 0.4em;
  border-radius: $radius-sm;
  font-family: 'Courier New', monospace;
  font-size: $font-size-sm;
}

pre {
  background-color: $color-gray-900;
  color: #e0e0e0;
  padding: $spacing-4;
  border-radius: $radius-md;
  overflow-x: auto;
  line-height: 1.5;
  margin-bottom: $spacing-4;
  font-family: 'Courier New', monospace;
  font-size: $font-size-sm;

  code {
    background-color: transparent;
    color: #e0e0e0;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

kbd {
  background-color: $color-gray-800;
  color: $color-text-white;
  padding: 0.2em 0.4em;
  border-radius: $radius-sm;
  font-family: monospace;
  font-size: $font-size-sm;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}


button,
.btn {
  @include button-base();

  &--secondary {
    @include button-base($color-secondary, $color-text-white);
  }

  &--accent {
    @include button-base($color-accent, $color-text-white);
  }

  &--outline {
    background-color: transparent;
    border: $border-medium solid $color-primary;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-text-white;
    }
  }
}


label {
  display: block;
  margin-bottom: $spacing-2;
  font-weight: $font-weight-medium;
  color: $color-text-black;
}

input,
textarea,
select {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: $spacing-2 $spacing-3;
  border: $border-thin solid $color-gray-300;
  border-radius: $radius-md;
  background-color: $color-text-white;
  color: $color-text-black;
  @include transition(border-color);

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
  }

  &:disabled {
    background-color: $color-gray-100;
    color: $color-gray-500;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &::placeholder {
    color: $color-gray-400;
  }
}

textarea {
  resize: vertical;
  min-height: 120px;
  font-family: $font-primary;
}

select {
  appearance: none;
  padding-right: $spacing-8;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right $spacing-2 center;
  background-size: 1.5em;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: $spacing-2;
  cursor: pointer;
  vertical-align: middle;
}

input[type="range"] {
  width: 100%;
  height: 6px;
  border-radius: $radius-full;
  background: $color-gray-300;
  outline: none;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-primary;
    cursor: pointer;
    @include transition(background-color);

    &:hover {
      background: $color-primary-hover;
    }
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-primary;
    cursor: pointer;
    border: none;
    @include transition(background-color);

    &:hover {
      background: $color-primary-hover;
    }
  }
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $spacing-6;
  font-size: $font-size-sm;

  &:last-child {
    margin-bottom: 0;
  }
}

thead {
  background-color: $color-gray-100;
  border-bottom: $border-medium solid $color-gray-300;
}

tbody {
  tr:nth-child(even) {
    background-color: $color-gray-50;
  }

  tr:hover {
    background-color: $color-gray-100;
  }
}

tfoot {
  background-color: $color-gray-100;
  font-weight: $font-weight-bold;
  border-top: $border-medium solid $color-gray-300;
}

th,
td {
  padding: $spacing-3;
  text-align: left;
  border-bottom: $border-thin solid $color-gray-200;
}

th {
  font-weight: $font-weight-bold;
  color: $color-text-black;
}


hr {
  border: none;
  border-top: $border-thin solid $color-gray-300;
  margin: $spacing-6 0;
  height: 0;

  &:last-child {
    margin-bottom: 0;
  }
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  overflow: visible;
}

figure {
  margin: $spacing-6 0;
  padding: 0;
}

figcaption {
  font-size: $font-size-sm;
  color: $color-gray-600;
  margin-top: $spacing-2;
  font-style: italic;
}



.badge {
  display: inline-block;
  padding: $spacing-1 $spacing-2;
  background-color: $color-gray-100;
  color: $color-text-black;
  border-radius: $radius-full;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;

  &--primary {
    background-color: $color-primary;
    color: $color-text-white;
  }

  &--success {
    background-color: $color-success;
    color: $color-text-white;
  }

  &--error {
    background-color: $color-error;
    color: $color-text-white;
  }
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
}

