
$color-primary: #659CCA; // Azul claro
$color-primary-hover: #2A7DC3; // Azul claro para hover
$color-primary-disabled: #83A6C3; // Azul claro para estado deshabilitado
$color-secondary: #134672; // Azul oscuro
$color-secondary-hover: #00315B; // Azul oscuro para hover
$color-secondary-disabled: #1B64A3; // Azul oscuro para estado deshabilitado
$color-accent: #CA681F;  // Naranja
$color-accent-hover: #D45D05; // Naranja para hover
$color-accent-disabled: #D78446; // Naranja para estado deshabilitado
$color-text-white: #fdfdfd; // Blanco
$color-text-black: #030303; // Negro
$color-validation: #15CA31; // Verde para validación
$color-error: #EA1D1D; // Rojo para errores
$color-background: #EDE7CF; // Fondo claro


// Espaciados base
$spacing-unit: 1rem;