name: Generar documentaci칩n autom치tica

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v4

    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Instalar dependencias
      run: npm install

    - name: Generar documentaci칩n HTML
      run: npx jsdoc -c jsdoc.json

    - name: Generar documentaci칩n en PDF
      run: pandoc README.md -o docs/manual.pdf

    - name: Subir artifact
      uses: actions/upload-artifact@v4
      with:
        name: documentacion
        path: docs/

