name: Generar documentación

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependencias
        run: |
          npm install
          npm install jsdoc minami

      - name: Generar documentación HTML
        run: npx jsdoc -c jsdoc.json

      - name: Instalar Pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Generar documentación PDF
        run: pandoc README.md -o docs/manual.pdf

      - name: Subir artifact
        uses: actions/upload-artifact@v3
        with:
          name: Documentacion
          path: docs/
